
<div>
  <a class="friendsItem" href="/users/profile/<%= u.id%>">
    <div class="friendsImg">
      
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvSVTLCcwtvnXkAIPUOevu529CIFebJDiueA&usqp=CAU"
        alt="img"
      >
    </div>
    <div class="friendsName">
      
        <%= u.name%>
      
        
    </div>
  </a>
</div>
