<link rel="stylesheet" href="/css/home.css">
<h1>Codeial</h1>

<section id="feed-posts">
    <!-- <h4>Posts</h4> -->
    <form action="" id="new-post-form" method="Post">
        <div class = 'createPost' name="content" cols="30" rows="10">
      <textarea class="addPost">
      </textarea>
      <div>
        <button
          class= "addPostBtn" value="Post" type="submit"
        >ADD POST</button>
      </div>
    </div>

    </form>
</section>