<link rel="stylesheet" href="/css/home.css">
<!-- <h1>Codeial</h1> -->

<section id="feed-posts">
    <!-- <h4>Posts</h4> -->
    <% if (locals.user) {%>
    <form action="/posts/create" id="new-post-form" method="POST">
        <div class = 'createPost'>
      <textarea class="addPost" name="content" cols="30" rows="10" placeholder="Type Here...">
      </textarea>
      <div>
        <button
          class= "addPostBtn" value="Post" type="submit"
        >ADD POST</button>
      </div>
    </div>

    </form>
    <%}%>

    <div class="posts-list-container" style=" padding-left: 24%;
    padding-right: 27%;">
        <div class="">
          <ul>
            <% for(post of posts){%>
              <div class= "postWrapper">
                <div class= "postHeader">
                  <div class="postAvatar">
                   <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" alt="user-pic">
                    <div>
                      <a class= "postAuthor">
                        <%= post.user.name %>
                      </a>
                    <span class= "postTime">a minute ago</span>
                  </div>
              </div>
              <div class= "postContent"> <%= post.content %></div>
                <div class= "postActions">
                  <div class= "postLike">
                    <button>
                      <img src="https://cdn-icons-png.flaticon.com/512/3128/3128313.png" alt="likes-icon">
                    </button>

                    <span>15</span>
                  </div>

            <div class= "postCommentsIcon">
              <img
                src="https://cdn-icons-png.flaticon.com/512/2190/2190552.png"
                alt="comments-icon"
              >
              <span>{post.comments.length}</span>
            </div>
          </div>
          <div class= "postCommentBox">
            <input type="text"
              placeholder="Start typing a comment"
              value= comment
            >
            
          </div>

          <div class="postCommentsList">
            <!-- {post.comments.map((comment) => (
              <Comment comment={comment} />
            ))} -->
          </div>
        </div>
      </div>
              <!-- <li>
                 <%= post.content %>
                 <small>
                    <%= post.user.name %>
                 </small>
              </li> -->
            <%}%>
          </ul>

        </div>
    </div>
</section>