<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/signin.css">
</head>
<body>
    <div class="container1">
        <div class="elements">
        <img src="https://see.fontimg.com/api/renderfont4/lg2Bw/eyJyIjoiZnMiLCJoIjozMSwidyI6MTI1MCwiZnMiOjI1LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/Y29kZWlhbA/feelfree-personal-use-regular.png" alt="img" style="padding-top:22px;">
        <h3>Sign In</h3>
        <div class="form-container">
            <form action="/users/create-session" method="POST">
                <div class="email-input">
                    <input type="email" name="email" placeholder="Email Adderess" required>
                </div>
                <div class="password-input">
                    <input type="password" name="password" placeholder="Enter Password" required>
                </div>
        
                <div class="button">
                    <button id="btn1">Sign In</button>

                </div>
                
                
            </form>
                <div class="singupAcct">
                    <small>don't have account? <a href="/users/signup">signup</a></small>
                </div>


                <div class="or">
                    --------------- OR ----------------
                </div>
                
            <div class="google_auth">
                
                
                <a href="/users/auth/google" style="text-decoration: none;">
                    
        
          
                    Continue With Google
                   </a>
                

            </div>
            
        </div>
        </div>
    </div>

</body>
</html>