body{
    background: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.elements{
    position: relative;
    top: 66px;
    text-align: center;
}
.name-input, .email-input, .password-input, .confirm-p-input, #btn1{
    margin-top: 20px;
}

input, #btn, #btn1, .google_auth>a{
    padding: 8px;
    width: 16rem;
    outline: none;
    background-color: transparent;
    border-style: none none solid none;
    border: 0.5px solid black;
    border-radius: 2px;
}

#btn1{
    width: 274px;
    background-color:  #6334a1;
    color: whitesmoke;
}

.singupAcct{
    margin-top: 10px;
}

.google_auth{

    margin-top: 41px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    

}
.or{
    margin-top: 22px;
}









